{% if site.post_payment %}

<DIV style="MARGIN-TOP: 0px;BORDER-BOTTOM: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BACKGROUND: #f6f6f6; HEIGHT: 186px; BORDER-TOP: #bbbbbb 1px solid; BORDER-RIGHT: #bbbbbb 1px solid" class=kesalinlicense>
	<DIV style="font-size:14px; LINE-HEIGHT: 100%; MARGIN-TOP: 10px; FLOAT: top; text-align: center; COLOR: #000000"> 
	如果您觉得我的文章不错，不妨小额打赏一下，让我有动力写出更多好文章。
	</DIV>

	<DIV style="MARGIN-TOP: 10px; FLOAT: left; text-align: center; MARGIN-LEFT: 20%"> 
		<IMG alt="" src="/images/pay/alipay.png" width=118 height=120>
		<DIV style="font-size:12px; LINE-HEIGHT: 100%; MARGIN-TOP: 4px; FLOAT: top; text-align: center; COLOR: #000000">
		支付宝扫一扫
		</DIV>
	</DIV> 

	<DIV style="MARGIN-TOP: 10px; FLOAT: right; text-align: center; MARGIN-RIGHT: 20%"> 
		<IMG alt="" src="/images/pay/weixinpay.png" width=118 height=120>
		<DIV style="font-size:12px; LINE-HEIGHT: 100%; MARGIN-TOP: 4px; FLOAT: top; text-align: center; COLOR: #000000">
		微信扫一扫
		</DIV>
	</DIV> 

</DIV> 
{% endif %}